@value accent-color-light, regular-font, second-accent-color, second-font from '../../variables.module.css';

.Review {
  font-family: second-font;
  line-height: 150%;
  margin-bottom: 20px;
  color: accent-color-light;
}

.Label {
  color: accent-color-light;
  font-family: regular-font;
  letter-spacing: 0.05rem;
}

@media (min-width: 768px) and (max-width: 1189px) {
  .Review {
    font-size: 16px;
  }

  .Author {
    font-size: 16px;
  }
}
