@value accent-color, accent-color-light, regular-font, headers-font from '../../variables.module.css';

.TrendingMovie {
  position: relative;
  font-family: regular-font;
  color: #000000;
}

.Poster {
  width: 17.5rem;
  height: 27rem;
  justify-self: center;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.HoverBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 17rem;
  height: 27rem;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0, 0);
  font-family: headers-font;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.TrendingMovie:hover .HoverBlock {
  background-color: rgba(0, 0, 0, 0.7);
  color: accent-color-light;
  transition: all 0.5s ease 0s;
}

.TrendingMovie:hover .Poster,
.HoverBlock {
  transform: scale(1.03);
}

.HoverTitle {
  width: 17.5rem;
  font-size: 2rem;
  text-align: center;
  align-self: center;
  word-wrap: break-word;
}

.NoImage {
  width: 17.5rem;
  justify-self: center;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 320px) and (max-width: 767px) {
  .Poster,
  .NoImage {
    width: 145px;
    height: 217px;
  }

  .HoverBlock,
  .HoverTitle {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1189px) {
  .Poster,
  .NoImage {
    width: 142px;
    height: 213px;
  }

  .HoverBlock,
  .HoverTitle {
    display: none;
  }
}
