@value accent-color, second-font from '../../variables.module.css';

.SearchMovie {
  margin-top: 1.6rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.SearchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-image: linear-gradient(to left, #743ad5, #d53a9d);
  cursor: pointer;
  outline: none;
  border: 1px solid #ffffff;
}

.SearchButton:hover {
  opacity: 1;
}

.SearchInput {
  width: 15rem;
  height: 2.5rem;
  display: inline-block;
  font-family: second-font;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-right: none;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #202020;
  color: #ffffff;
}

.SearchInput::placeholder {
  font: regular-font;
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .SearchMovie {
    margin-top: 20px;
  }

  .SearchButton {
    width: 40px;
    height: 40px;
  }

  .SearchInput {
    height: 40px;
    font-size: 18px;
  }

  .SearchInput::placeholder {
    font-size: 18px;
  }
}
