@value headers-font, regular-font, accent-color, second-accent-color, second-font from '../../variables.module.css';

.Movie {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Image {
  width: 300px;
  height: auto;
  cursor: zoom-in;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Image:hover {
  transform: scale(1.03);
  transition: all 0.5s ease 0s;
}

.MovieInfo {
  width: 720px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Description {
  font-family: regular-font;
  font-size: 17px;
  line-height: 150%;
}

.Title {
  font-family: headers-font;
  font-size: 30px;
  font-weight: 700;
  color: accent-color;
  padding: 30px 0 10px;
  line-height: 150%;
}

.DescriptionPoint {
  padding: 8px 0;
}

.Bold {
  font-family: second-font;
  font-weight: 700;
  color: second-accent-color;
}

.Additional {
  width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: regular-font;
  font-size: 17px;
  line-height: 150%;
}

.AddInfo {
  composes: Bold;
}

.Link {
  color: #000000;
}

.Button {
  font-family: second-font;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  width: 140px;
  height: 40px;
  background-color: accent-color;
  border-style: none;
  cursor: pointer;
  border-radius: 0.1rem;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Button:hover {
  transform: scale(1.1);
}

@media (min-width: 320px) and (max-width: 767px) {
  .Movie {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
    min-height: 0;
  }

  .Image {
    width: 280px;
    margin: 0 auto;
  }

  .Description {
    width: 300px;
  }

  .Title {
    text-align: center;
  }

  .Additional {
    width: 300px;
    flex-wrap: wrap;
  }

  .Button {
    width: 300px;
    margin-top: 10px;
    order: 1;
  }

  .CastReviewsLinks {
    order: 2;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1189px) {
  .Movie {
    width: 720px;
    min-height: unset;
    margin-top: 20px;
  }

  .Image {
    width: 250px;
  }

  .Title {
    padding: 6px 0;
    font-size: 26px;
  }

  .MovieInfo {
    width: 460px;
  }

  .Description {
    font-size: 16px;
  }

  .Additional {
    width: 460px;
    font-size: 16px;
  }

  .DescriptionPoint {
    padding: 4px 0;
  }

  .CastReviewsLinks {
    width: 290px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}
