body {
  background: linear-gradient(45deg, #202020, #090909, #202020);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  background: #090909;
  border: 1rem solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #743ad5;
}

.slick-prev:before,
.slick-next:before {
  color: #000000;
}

.slick-list {
  padding: 100px;
}

.slick-track {
  width: 20rem;
}
