@value accent-color, dark-color, accent-color-light, second-font from '../../variables.module.css';

.NavContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.6rem;
}

.Nav {
  width: 200px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.NavLi {
  font-family: second-font;
  font-size: 20px;
  border-bottom: 2px solid transparent;
}

.Link {
  display: block;
  text-decoration: none;
  text-align: center;
  color: dark-color;
  padding: 0.5rem 0.8rem;
  border-radius: 0.1rem;
  transition: all 0.2s ease-in-out;
}

.ActiveLink {
  composes: Link;
  color: accent-color-light;
  background-color: accent-color;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.1rem;
}

.NavLi:hover .Link {
  color: accent-color;
  transform: scale(1.1);
}

.NavLi:hover .ActiveLink {
  color: accent-color-light;
  transform: scale(1);
}

@media (min-width: 320px) and (max-width: 767px) {
  .NavContainer {
    justify-content: center;
  }

  .NavLi {
    font-size: 24px;
  }
}
