@value accent-color, dark-color, accent-color-light, regular-font from '../../variables.module.css';

.NavContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.6rem;
}

.Nav {
  width: 9rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.NavLi {
  font-family: regular-font;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 2px solid transparent;
}

.Link {
  display: block;
  text-decoration: none;
  text-align: center;
  color: accent-color-light;
  padding: 0.5rem 0.8rem;
  transition: all 0.2s ease-in-out;
  border: 1rem solid transparent;
  border-image-slice: 1;
  border-width: 0.2rem;
}

.ActiveLink {
  composes: Link;
  color: accent-color-light;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.NavLi:hover .Link {
  color: #d53a9d;
  transform: scale(1.1);
}

.NavLi:hover .ActiveLink {
  color: accent-color-light;
  transform: scale(1);
}

@media (min-width: 320px) and (max-width: 767px) {
  .NavContainer {
    justify-content: center;
  }

  .NavLi {
    font-size: 24px;
  }
}
